<a href="https://colab.research.google.com/github/vankired/ANKIREDDY_IT533/blob/main/week3Kickstartdataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
kickstart = pd.read_csv("https://raw.githubusercontent.com/vankired/ANKIREDDY_IT533/main/kickstarter-projects-201518.csv")
#  first we will clean some data
kickstart.dropna(inplace=True)

In [3]:
#we will see what are the attributes here in the dataset and after that we do need to transform the data into usable format for clustering or machine learning.
k = kickstart
k

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1008941852,The return of BABY UNIVERSE!,Immersive,Theater,USD,1/1/2015,15000,12/4/2014 21:37,11880.18,failed,46,US,11880.18,11880.18,15000.00
1,1013503401,Potjie,Drama,Film & Video,GBP,1/1/2015,4500,12/2/2014 18:10,4843.00,successful,67,GB,7560.32,7477.46,6947.88
2,1020446396,Stilt City- A Bungalow Artist Space in The Roc...,Public Art,Art,USD,1/1/2015,60000,11/19/2014 23:14,18087.00,canceled,204,US,18087.00,18087.00,60000.00
3,1028008131,A 2D SideScroller RPG Made by YOU (Canceled),Video Games,Games,USD,1/1/2015,20000,12/2/2014 22:02,9.00,canceled,2,US,9.00,9.00,20000.00
4,1049544313,Balteus Belt,Apparel,Fashion,USD,1/1/2015,8000,11/18/2014 21:17,1563.00,failed,16,US,1563.00,1563.00,8000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191580,55596200,Plateforme de statistiques,Apps,Technology,EUR,3/2/2018,9000,1/1/2018 15:40,0.00,live,0,FR,0.00,0.00,10923.26
191581,872683023,The Lewisham Ledger - a new free local communi...,Print,Journalism,GBP,3/2/2018,5000,1/1/2018 21:20,350.00,live,7,GB,364.86,477.39,6819.89
191582,1036415983,Aikyam : Onnu,Music,Music,USD,3/3/2018,10000,1/2/2018 8:11,174.00,live,3,US,174.00,174.00,10000.00
191583,1916988520,Back in Black Hills Movie,Drama,Film & Video,USD,3/3/2018,5500,1/2/2018 1:16,0.00,live,0,US,0.00,0.00,5500.00
191584,22387366,Nerd Collect,Apps,Technology,GBP,3/3/2018,150000,1/2/2018 3:26,0.00,live,0,GB,0.00,0.00,204596.60

lets check what are the unique values in the category attribute.

In [4]:
k['category'].unique()

array(['Immersive', 'Drama', 'Public Art', 'Video Games', 'Apparel',
       'Nonfiction', 'Web', 'Restaurants', 'Pet Fashion', 'Fashion',
       'Rock', 'Robots', 'Hardware', 'Radio & Podcasts', 'Tabletop Games',
       'Thrillers', 'Product Design', 'Sculpture', 'Documentary',
       'Candles', 'Wearables', 'Science Fiction', 'Music', 'Webseries',
       'Software', 'Print', 'Interactive Design', 'Farms', 'Technology',
       "Children's Books", 'Audio', 'Drinks', 'Ready-to-wear',
       'Playing Cards', 'Shorts', 'Food', 'Indie Rock', 'Fiction',
       'Small Batch', 'World Music', 'Crochet', 'Design', 'Publishing',
       'Dance', 'Painting', 'Crafts', 'Civic Design', 'Illustration',
       'Art', 'Apps', 'Metal', 'Music Videos', 'Webcomics', 'Anthologies',
       'Digital Art', 'Graphic Novels', 'Gaming Hardware', 'Workshops',
       'Games', 'Gadgets', 'DIY', 'Food Trucks', 'Knitting',
       'DIY Electronics', 'Translations', 'Blues', 'Journalism',
       'Makerspaces', 'Mobile Games', 'Mixed Media', 'Embroidery', 'Punk',
       'Accessories', 'Faith', 'Narrative Film', '3D Printing',
       'Literary Journals', 'Spaces', 'Country & Folk', 'Comic Books',
       'Comedy', 'Animation', 'Film & Video', 'Graphic Design', 'Jewelry',
       'Printing', 'Plays', 'Puzzles', 'People', 'Places', 'Pop',
       'Photography', "Farmer's Markets", 'Photobooks', 'Flight',
       'Performance Art', 'Young Adult', 'Events', 'Experimental',
       'Musical', 'Family', 'Movie Theaters', 'Space Exploration',
       'Theater', 'Footwear', 'R&B', 'Performances', 'Poetry',
       'Television', 'Video Art', 'Couture', 'Hip-Hop',
       'Camera Equipment', 'Sound', 'Action', 'Conceptual Art',
       'Festivals', 'Zines', 'Art Books', 'Academic', 'Horror', 'Fantasy',
       'Ceramics', 'Video', 'Periodicals', 'Nature', 'Fine Art',
       'Cookbooks', 'Jazz', 'Architecture', 'Classical Music',
       'Community Gardens', 'Installations', 'Animals', 'Woodworking',
       'Stationery', 'Fabrication Tools', 'Bacon', 'Electronic Music',
       'Comics', 'Calendars', 'Textiles', 'Live Games', 'Photo', 'Glass',
       'Quilts', 'Vegan', 'Childrenswear', 'Romance', 'Kids',
       'Letterpress', 'Typography', 'Latin', 'Weaving', 'Residencies',
       'Pottery', 'Taxidermy', 'Chiptune', 'Literary Spaces'],
      dtype=object)

#As per the first question we are here doing the data transformation for 3 variables.

In [5]:
# First Variable: state 
# First, we will back the dataframe up.
k1=kickstart

# Now we will build the column then copy the original values into it
k1['state_num'] = k1.state

# Third, we  will convert the  state_num into categorical
k1['state_num']= k1['state_num'].astype('category')

# Then, we  will replace the strings with the category indices
k1['state_num']= k1['state_num'].cat.codes

# Now, we will check the data types
k1.dtypes[['state','state_num']]
#k1.state_num.iloc[20:25]

state        object
state_num      int8
dtype: object

In [6]:
# Second Variable: category
# First, we  will back the dataframe up.
k1=kickstart

# Now we can build the column and copy the original values into it.
k1['category_num'] = k1.state

# Third, we  will now convert category_num into categorical
k1['category_num']= k1['category_num'].astype('category')

# Then, we  can replace the strings with the category indices
k1['category_num']= k1['category_num'].cat.codes

# Now, we  will check the data types
k1.dtypes[['category','category_num']]

#k1[['category', 'category_num']].iloc[20:25]
#k1.category_num.iloc[20:25]

category        object
category_num      int8
dtype: object

In [7]:
# Third Variable: pledged
# First, we back the dataframe up.
k1=kickstart

# Now we build the column and copy the original values into it
k1['pledged_int'] = k1.pledged

# Third, we convert pledged_num into int32
k1['pledged_int']= k1['pledged_int'].astype('int32')

# Then, we replace the strings with the category indices
#k1['category_num']= k1['category_num'].cat.codes

# Now, we  will check the data types
k1.dtypes[['pledged','pledged_int']]

pledged        float64
pledged_int      int32
dtype: object

In [8]:
k1.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,state_num,category_num,pledged_int
0,1008941852,The return of BABY UNIVERSE!,Immersive,Theater,USD,1/1/2015,15000,12/4/2014 21:37,11880.18,failed,46,US,11880.18,11880.18,15000.00,1,1,11880
1,1013503401,Potjie,Drama,Film & Video,GBP,1/1/2015,4500,12/2/2014 18:10,4843.00,successful,67,GB,7560.32,7477.46,6947.88,3,3,4843
2,1020446396,Stilt City- A Bungalow Artist Space in The Roc...,Public Art,Art,USD,1/1/2015,60000,11/19/2014 23:14,18087.00,canceled,204,US,18087.00,18087.00,60000.00,0,0,18087
3,1028008131,A 2D SideScroller RPG Made by YOU (Canceled),Video Games,Games,USD,1/1/2015,20000,12/2/2014 22:02,9.00,canceled,2,US,9.00,9.00,20000.00,0,0,9
4,1049544313,Balteus Belt,Apparel,Fashion,USD,1/1/2015,8000,11/18/2014 21:17,1563.00,failed,16,US,1563.00,1563.00,8000.00,1,1,1563

In [9]:
#variable one : main_category-Technology
k2 = kickstart
k2.main_category.unique()
#k2['currency'].isnull().values.any()

array(['Theater', 'Film & Video', 'Art', 'Games', 'Fashion', 'Publishing',
       'Technology', 'Food', 'Music', 'Design', 'Crafts', 'Journalism',
       'Dance', 'Comics', 'Photography'], dtype=object)

In [10]:
# Instead of building another column to check the  transformations, we will now  substitute data in place this time around.
# For this purpose, we're using the replace() method from pandas
k2.main_category.replace('Technology','Automation', inplace=True)

# Did we indeed replace all '?'? Let's check:
k2[k2['main_category'] == 'Technology']

Empty DataFrame
Columns: [ID, name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd pledged, usd_pledged_real, usd_goal_real, state_num, category_num, pledged_int]
Index: []

In [11]:
k2.main_category.unique()

array(['Theater', 'Film & Video', 'Art', 'Games', 'Fashion', 'Publishing',
       'Automation', 'Food', 'Music', 'Design', 'Crafts', 'Journalism',
       'Dance', 'Comics', 'Photography'], dtype=object)

In [12]:
#Variable two : "state-canceled"
k2.state.unique()

array(['failed', 'successful', 'canceled', 'suspended', 'live'],
      dtype=object)

In [13]:
k2.state.replace('canceled','cancelled', inplace=True)
k2.state.unique()

array(['failed', 'successful', 'cancelled', 'suspended', 'live'],
      dtype=object)

In [15]:
kickstart.backers.describe()

count    188445.000000
mean        114.758704
std        1026.348301
min           0.000000
25%           1.000000
50%           8.000000
75%          51.000000
max      219382.000000
Name: backers, dtype: float64

In [16]:
bins = np.linspace(kickstart.backers.min(),kickstart.backers.max(),7)
bins

array([     0.        ,  36563.66666667,  73127.33333333, 109691.        ,
       146254.66666667, 182818.33333333, 219382.        ])

In [18]:
labels = ['very_low', 'low', 'medium','Moderate_high' ,'high','very_high']

In [19]:
# Variable one: The backers attribute can be  simplified by using Binning methods.
k3 = kickstart
k3['bins'] = pd.cut(k3['backers'], bins=bins, labels=labels, include_lowest=True)
k3[k3.backers>= 40000]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,state_num,category_num,pledged_int,bins
8041,1955357092,Exploding Kittens,Tabletop Games,Games,USD,2/20/2015,10000,1/20/2015 19:00,8782571.99,successful,219382,US,8782571.99,8782571.99,10000.00,3,3,8782571,very_high
17283,1799979574,"Pebble Time - Awesome Smartwatch, No Compromises",Product Design,Design,USD,3/28/2015,500000,2/24/2015 15:44,20338986.27,successful,78471,US,20338986.27,20338986.27,500000.00,3,3,20338986,medium
36952,1074800880,Bloodstained: Ritual of the Night,Video Games,Games,USD,6/13/2015,500000,5/11/2015 18:58,5545991.70,successful,64867,US,5545991.70,5545991.70,500000.00,3,3,5545991,low
37846,1194278206,Yooka-Laylee - A 3D Platformer Rare-vival!,Video Games,Games,GBP,6/17/2015,175000,5/1/2015 17:57,2090104.10,successful,73206,GB,3225225.40,3310374.26,277170.64,3,3,2090104,medium
45185,947809001,Shenmue 3,Video Games,Games,USD,7/18/2015,2000000,6/16/2015 3:51,6333295.77,successful,69320,US,6333295.77,6333295.77,2000000.00,3,3,6333295,low
50737,2095857140,ZNAPS -The $9 Magnetic Adapter for your mobile...,Technology,Automation,CAD,8/14/2015,120000,7/15/2015 18:09,3007370.36,successful,70122,CA,2361318.37,2305558.39,91996.32,3,3,3007370,low
54622,565687737,The World's Best TRAVEL JACKET with 15 Feature...,Product Design,Design,USD,9/3/2015,20000,7/7/2015 13:52,9192055.66,successful,44949,US,9192055.66,9192055.66,20000.00,3,3,9192055,low
59593,275698538,Divinity: Original Sin 2,Video Games,Games,USD,9/30/2015,500000,8/26/2015 14:55,2032434.63,successful,42713,US,2032434.63,2032434.63,500000.00,3,3,2032434,low
66194,474183945,BATTLETECH,Video Games,Games,USD,11/3/2015,250000,9/29/2015 18:59,2785537.13,successful,41733,US,2785537.13,2785537.13,250000.00,3,3,2785537,low
73934,1454565733,Bring Back MYSTERY SCIENCE THEATER 3000,Television,Film & Video,USD,12/12/2015,2000000,11/10/2015 16:49,5764229.38,successful,48270,US,5764229.38,5764229.38,2000000.00,3,3,5764229,low
88075,1494516688,Joking Hazard,Tabletop Games,Games,USD,3/10/2016,10000,2/9/2016 18:00,3246588.55,successful,63758,US,3246588.55,3246588.55,10000.00,3,3,3246588,low
107972,2103598555,"Pebble 2, Time 2 + All-New Pebble Core",Product Design,Design,USD,6/30/2016,1000000,5/24/2016 15:49,12779843.49,successful,66673,US,12779843.49,12779843.49,1000000.00,3,3,12779843,low
124441,1386523707,Fidget Cube: A Vinyl Desk Toy,Product Design,Design,USD,10/20/2016,15000,8/30/2016 22:02,6465690.30,successful,154926,US,13770.00,6465690.30,15000.00,3,3,6465690,high
128824,1118803016,Bears vs Babies - A Card Game,Tabletop Games,Games,USD,11/18/2016,10000,10/18/2016 18:59,3215679.79,successful,85581,US,1231455.60,3215679.79,10000.00,3,3,3215679,medium
152807,1681361753,Gloomhaven (Second Printing),Tabletop Games,Games,USD,5/2/2017,100000,4/4/2017 17:59,3999795.77,successful,40642,US,1384174.77,3999795.77,100000.00,3,3,3999795,low
177452,647013276,"THE 7th CONTINENT – What Goes Up, Must Come Down.",Tabletop Games,Games,USD,10/19/2017,40000,9/26/2017 20:00,7072757.00,successful,43733,US,1574139.50,7072757.00,40000.00,3,3,7072757,low

In [20]:
k3.groupby(['bins']).count()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,state_num,category_num,pledged_int
bins,,,,,,,,,,,,,,,,,,
very_low,188426,188426,188426,188426,188426,188426,188426,188426,188426,188426,188426,188426,188426,188426,188426,188426,188426,188426
low,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
medium,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Moderate_high,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
high,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
very_high,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [21]:
kickstart.usd_goal_real.describe()

count    1.884450e+05
mean     6.120491e+04
std      1.425486e+06
min      4.900000e-01
25%      2.000000e+03
50%      6.500000e+03
75%      2.000000e+04
max      1.513959e+08
Name: usd_goal_real, dtype: float64

In [22]:
# second Variable : usd_goal_real is simplified by using the Bucketing method.
# Setting up our 5 buckets and their lables too.
buckets = [ 0, 30279173.98, 60558347.96, 90837521.94, 121116695.9 ,151395869.9]
bucketlabels = ['very_low', 'low', 'middle', 'high', 'super-high']

# we will use the cut() to separate data into the buckets that we have built.
k3['buckets'] = pd.cut(k3['usd_goal_real'] , bins=buckets, labels=bucketlabels, include_lowest=True)

# lets check  if we have new attributes 'buckets' at the end of the dataset here.
k3[k3.usd_goal_real>= 70000000]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,state_num,category_num,pledged_int,bins,buckets
10619,601594365,The Multi-Trillion Dollar Dream™ (Canceled),Architecture,Design,USD,3/2/2015,100000000,1/7/2015 19:11,1.0,cancelled,1,US,1.00,1.00,1.000000e+08,0,0,1,very_low,high
11027,388031956,UniqueTrends,Apparel,Fashion,USD,3/4/2015,100000000,2/2/2015 23:52,1.0,failed,1,US,1.00,1.00,1.000000e+08,1,1,1,very_low,high
21440,962949560,"""PG"" Reanimated Cartoons Tha Movie",Animation,Film & Video,USD,4/11/2015,100000000,2/10/2015 23:49,0.0,failed,0,US,0.00,0.00,1.000000e+08,1,1,0,very_low,high
27372,308045282,Jesus Priest,Action,Film & Video,CAD,5/4/2015,100000000,3/5/2015 22:57,1.0,failed,1,CA,0.80,0.83,8.262414e+07,1,1,1,very_low,middle
32610,1746196981,High Gear (Canceled),Television,Film & Video,GBP,5/26/2015,50000000,3/27/2015 18:39,0.0,cancelled,0,GB,0.00,0.00,7.628696e+07,0,0,0,very_low,middle
40402,2075450016,"Virtual Reality Playground in Buffalo, NY",Live Games,Games,USD,6/28/2015,100000000,5/14/2015 2:31,20.0,failed,1,US,20.00,20.00,1.000000e+08,1,1,20,very_low,high
40740,1720842777,NAKED FASHION ART,Illustration,Art,CAD,6/30/2015,100000000,5/1/2015 19:40,0.0,failed,0,CA,0.00,0.00,7.947862e+07,1,1,0,very_low,middle
40765,1933151256,404 ERROR - The first emergency kit for an int...,Apps,Automation,EUR,6/30/2015,80000000,6/15/2015 11:40,1.0,cancelled,1,NL,1.13,1.11,8.876757e+07,0,0,1,very_low,middle
46932,492821983,"Back to the future! Hill Valley winnemucca, Ne...",Architecture,Design,USD,7/27/2015,80000000,5/29/2015 6:28,36.0,failed,3,US,36.00,36.00,8.000000e+07,1,1,36,very_low,middle
48109,2094346154,Is Anyone Out There ?,Technology,Automation,USD,8/1/2015,100000000,6/2/2015 19:21,0.0,failed,0,US,0.00,0.00,1.000000e+08,1,1,0,very_low,high
52308,499583381,The Scariest Movie Ever Created,Horror,Film & Video,USD,8/22/2015,100000000,7/23/2015 21:44,1.0,failed,1,US,1.00,1.00,1.000000e+08,1,1,1,very_low,high
60763,219702078,Kitchen from Austria in Switzerland,Restaurants,Food,CHF,10/5/2015,100000000,8/6/2015 19:12,0.0,failed,0,CH,0.00,0.00,1.040572e+08,1,1,0,very_low,high
64260,944541075,Hydroponic's Skyscraper(un gratte-ciel hydropo...,Technology,Automation,EUR,10/24/2015,100000000,8/25/2015 23:52,2.0,failed,2,FR,2.29,2.20,1.101698e+08,1,1,2,very_low,high
68776,621851828,Kickstarter 2 - We are Making a Better Kicksta...,Publishing,Publishing,USD,11/16/2015,100000000,9/17/2015 2:45,105.0,suspended,5,US,105.00,105.00,1.000000e+08,4,4,105,very_low,high
71373,2000749004,A Celtic Lovestory,Drama,Film & Video,GBP,11/30/2015,100000000,11/17/2015 0:47,0.0,failed,0,GB,0.00,0.00,1.513959e+08,1,1,0,very_low,super-high
77536,1279992058,Kybernan Holographic Gaming Network,Video Games,Games,USD,1/1/2016,100000000,11/7/2015 0:57,13.0,failed,4,US,13.00,13.00,1.000000e+08,1,1,13,very_low,high
80374,1741515953,Let's prove the earth is FLAT! (Suspended) (Su...,Video,Journalism,USD,1/20/2016,100000000,12/21/2015 22:29,13.0,suspended,4,US,13.00,13.00,1.000000e+08,4,4,13,very_low,high
92204,1395179504,Bring back Pontiac,Technology,Automation,USD,4/1/2016,100000000,2/1/2016 13:39,2.0,failed,2,US,2.00,2.00,1.000000e+08,1,1,2,very_low,high
103952,1370542565,Art Is Fabulous,Art,Art,USD,6/5/2016,100000000,4/6/2016 2:55,115.0,failed,2,US,115.00,115.00,1.000000e+08,1,1,115,very_low,high
108049,813343172,The Castles of the Great Assimil Unearthed (Ca...,Fiction,Publishing,USD,6/30/2016,100000000,5/31/2016 21:19,0.0,cancelled,0,US,0.00,0.00,1.000000e+08,0,0,0,very_low,high
115461,843636303,"The Exodus, one Ark or many.",Documentary,Film & Video,USD,8/16/2016,100000000,6/17/2016 17:20,14.0,failed,5,US,0.00,14.00,1.000000e+08,1,1,14,very_low,high
123149,2137925650,The Time Jumper,Science Fiction,Film & Video,USD,10/10/2016,100000000,8/11/2016 12:21,0.0,cancelled,0,US,0.00,0.00,1.000000e+08,0,0,0,very_low,high
137205,1168153740,Sage: Warrior Of The Fallen Gods (Movie),Fantasy,Film & Video,USD,1/14/2017,100000000,12/15/2016 2:24,0.0,failed,0,US,0.00,0.00,1.000000e+08,1,1,0,very_low,high
137968,1119122774,"Help me start a fair media company, Trump Media",Video,Journalism,USD,1/21/2017,100000000,11/22/2016 6:41,1.0,failed,1,US,0.00,1.00,1.000000e+08,1,1,1,very_low,high
140408,207256058,Midnight Black,Art,Art,USD,2/11/2017,75000000,12/15/2016 3:08,50.0,failed,1,US,0.00,50.00,7.500000e+07,1,1,50,very_low,middle
144989,2132015082,DER NEANDERTALER (Kinofilm mit Starbesetzung i...,Movie Theaters,Film & Video,EUR,3/14/2017,100000000,1/13/2017 20:08,36.0,failed,2,DE,1.06,38.65,1.073699e+08,1,1,36,very_low,high
172505,379409641,Peace,Film & Video,Film & Video,USD,9/13/2017,100000000,8/14/2017 16:46,1.0,failed,1,US,0.00,1.00,1.000000e+08,1,1,1,very_low,high
176675,941328479,The Throne : Fall of Lucifer,Movie Theaters,Film & Video,USD,10/13/2017,100000000,8/14/2017 16:45,0.0,failed,0,US,0.00,0.00,1.000000e+08,1,1,0,very_low,high
180483,208731425,Animal - The Bear Life Journey,Painting,Art,USD,11/9/2017,100000000,9/10/2017 17:54,59.0,failed,2,US,0.00,59.00,1.000000e+08,1,1,59,very_low,high
188623,1321011533,Mirror,Thrillers,Film & Video,USD,1/3/2018,99000000,11/24/2017 19:46,0.0,live,0,US,0.00,0.00,9.900000e+07,2,2,0,very_low,high

In [23]:
k3.groupby(['buckets']).count()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,state_num,category_num,pledged_int,bins
buckets,,,,,,,,,,,,,,,,,,,
very_low,188390,188390,188390,188390,188390,188390,188390,188390,188390,188390,188390,188390,188390,188390,188390,188390,188390,188390,188390
low,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25
middle,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
high,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23
super-high,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

**Question one**: Here, for first question we did transform all the three attribute values to numeric values- we are transforming the  state-object to state-int8   by creating a new column state-int8.Lke this we have transformed and created object attributes to numeric for a better analyzation, we have transformed the  we must transform the data to make it compatible, so that the information may be aggregated and analyzed more effectively.usually its easy if dataset has all numeric attributes , but we can make more analyization on the dataset.

**Question two:**
we used subsititution method where we can rename the attribute for to our or cleint flexbilty to analyze the data like here we renamed the technology name as automation in the main category column. here we applied binning method for the attribute -bakers. THe binning method will divide it into five ranges- very low , low, medium, moderate_high, high, very_high which will give bakers attribute dependancy on the other attribute and we can analze the bakers which is one of the most imp attribute in the dataset.we can rectify the raw data and  may be update a data if needed according the raw level of the dataset.

**question 3**:here we applied binning method for the attribute -bakers. THe binning method will divide it into five ranges- very low , low, medium, moderate_high, high, very_high which will give good analysis bakers attribute dependancy on the other attribute and we can analze the bakers which is one of the most imp attribute in the dataset.we can rectify the raw data and may be update a data if needed according the raw level of the dataset.we have also done bucketing to usd_goal_real and bucketing is almost same as binning but in bucketing we define the range.

**Question 4:**

the important organizational  analytical questions  that management could ask about the dataset in order to help them make business are-
-->is the data accurate ?
-->is the data clean ?
-->how much data should you have?
-->what's next for the dataset ? 

The data transformation, data substitution , data reduction comes under data pre-processing and the pre-processing covers almost 80% of the work.